.containerLojas {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.titulo {
    text-align: center;
    font-size: 4.0rem;
    color: #2b406d;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Zain';
}

.titulo-descricao{
    text-align: center; 
    color: #6c8eb1; 
    margin-bottom: 40px; 
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: 'Zain';
}

.stores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.store-card {
    background: white;
    border-radius: 8px;;
    overflow: hidden;
    box-shadow: 10;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.store-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.store-header {
    position: relative;
    height: 150px;
    overflow: hidden;
}

.store-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store-info {
    padding: 25px;
}

.store-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #304269;
    margin-bottom: 10px;
}

.store-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.store-preco {
    color: gray;
    margin-bottom: 15px;
}

.store-description {
    color: black;
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn-secondary{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.btn-secondary {
    background: #ff6b00;
    color: white;
}

.btn-secondary:hover {
    background: #db5c02;
    transform: translateY(-1px);
}